button,
.button {
    --button-style: linear-gradient(var(--button-back), var(--button-back)) padding-box,
        var(--button-border) border-box;
    --button-back: var(--dark);
    --button-color: var(--light);
    --button-border: currentColor;
    background: var(--button-style);
    color: var(--button-color);
    border: 0.125em solid transparent;
    border-radius: var(--border-radius);
    padding: var(--padding);
    gap: var(--gap-sm);
    font-family: "Exo 2";
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: initial;
}

/* Type */
:is(button, .button).link {
    --button-border: transparent;
    --button-back: transparent;
}

:is(button, .button).link:hover {
    background: var(--brand);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:is(button, .button).block {
    width: 100%;
}

:is(button, .button).action {
    background: var(--dark);
    border-radius: 50%;
    height: 3em;
    width: 3em;
    padding: 0;
}

/* Sizes */
:is(button, .button).lg {
    padding: var(--padding-lg);
    font-size: larger;
}

:is(button, .button).sm {
    padding: var(--padding-sm);
    font-size: smaller;
}

/* Styles */
:is(button, .button).primary {
    --button-border: var(--brand);
}

:is(button, .button).success {
    --button-color: var(--success)
}

:is(button, .button).warning {
    --button-color: var(--warning);
}

:is(button, .button).error {
    --button-color: var(--error);
}

/* States */
:is(button, .button):not(.primary, .success, .warning, .error):hover {
    --button-border: var(--brand);
}

:is(button, .button):hover {
    --button-color: var(--light);
}

:is(button, .button):active {
    --button-border: var(--light);
}

:is(button, .button):is(.primary):hover {
    --button-border: var(--light);
}

:is(button, .button):is(.primary):active {
    --button-border: var(--brand);
}

/* Surfaces */
:is(.surface-1) :is(.button, button) {
    --button-back: var(--surface-1);
}

:is(.surface-2) :is(.button, button) {
    --button-back: var(--surface-2);
}

/* GROUPS */
.buttons-group {
    display: flex;
}

.buttons-group>* {
    border-radius: 0;
    margin: 0 -0.0655em;
}

.buttons-group>*:is(:hover, .active, .primary) {
    z-index: 1;
}

.buttons-group>*:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.buttons-group>*:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}