:is(input, select, textarea):focus {
    outline: none;
}

input,
select,
textarea {
    padding: var(--padding);
    border: 0.1em solid;
    border-radius: var(--border-radius-sm);
    font-family: "Exo 2";
    font-size: inherit;
    text-decoration: none;
    border-color: transparent;
    background: var(--border-brand);
    color: inherit;
}

select {
    appearance: none;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23dfe4ec'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 1em center/.5em .75em, var(--border-brand);
    padding-right: 2em;
}

textarea {
    width: 100%;
}

textarea.valid {
    border-color: var(--success);
}

textarea.invalid {
    border-color: var(--error);
}

textarea.secret,
input.secret {
    --alfa: 0;
    text-shadow: 0 0 0.5em var(--light);
    color: transparent;
}

textarea.secret:focus,
input.secret:focus {
    color: var(--light);
    text-shadow: none;
}

/* Payments */
input {
    background: var(--dark);
    text-align: center;
    width: 100%;
}

input:focus {
    border-color: var(--light);
}

label {
    margin-bottom: 0.75em;
    display: block;
}

legend {
    text-align: center;
    font-size: 1.25em;
    color: var(--gray);
    margin: auto;
}

fieldset {
    padding: 1em;
    border: 0;
    border-radius: var(--border-radius-sm);
}

[type="submit"] {
    font-weight: bold;
}