 :root {
     --viewport: calc(70em + var(--gap));
 }

 aside {
     min-width: 15em;
     position: sticky;
     top: auto;
 }

 aside nav {
     position: sticky;
     top: 7.5em;
 }

 details summary {
     font-size: large;
 }

 details summary:hover {
     color: var(--blue);
 }

 details summary h4 {
     margin: 1em 0 0;
     display: inline-block;
     text-transform: capitalize;
 }

 details ul {
     margin-top: 0.5em;
 }

 details ul li {
     display: block;
     margin: 0.5em 0;
 }

 details ul li::before {
     content: none;
 }

 details ul li a {
     display: block;
     text-decoration: none;
 }

 a:not(.button).active,
 a:not(.button):hover {
     --active: var(--blue);
 }

 article {
     font-weight: 300;
 }

 article ul li::before {
     background: var(--border-light);
 }

 button#docs {
     position: fixed;
     z-index: 1;
     bottom: var(--gap-sm);
     left: var(--gap);
     background: var(--gray);
     color: var(--dark);
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     line-height: 1;
     font-weight: 600;
     margin: 1.5em 0 0.75em;
 }