 main.columns {
     flex-direction: row;
 }

 main.columns aside {
     min-width: 10em;
     margin: var(--gap);
 }

 main::before {
     content: "";
     position: absolute;
     inset: 0;
     background: url("/img/mainpage/grid.png") -30% 7.5% no-repeat;
     background-size: 80%;
     z-index: -1;
     opacity: 0.25;
 }

 .mainpage__video {
     width: 100%;
     border: none;
 }