{{ define "main" }}
<main>
    <section class="hero">
        <div class="container hero__container">
            <div class="hero__container-main">
                <div class="hero__container-content">
                    <h1 class="values__container-title">Empower Your Web3 Project: Cloud Solutions at<span class="text-gradient"> Half the Cost </span>, no Contracts.</h1>
                    <p class="values__container-cards__body">Your Partner in Innovation and Efficiency</p>
                    <a class="btn-gradient" href="#products">Choose Product</a>
                </div>
                <div class="hero__container-content__img">
                    <img src="./design/img/hero.png" alt="hero">
                </div>
            </div>
            <div class="container unique__container unique-section">
                <h2 class="unique__container-title">What Makes P2P Cloud <span class="text-gradient">Unique</span></h2>
                <div class="unique__container-content">
                    <img src="./design/img/unique.png" alt="unique">
                    <div class="unique__container-content__text">
                        <h4 class="unique__container-content__text-title"> We <span class="text-gradient">Revolutionized</span> web3 Cloud Tooling</h4>
                            <h3> We were able to accomplish this by reimagining cloud infrastructure: less failure points, more savings, and built-in security from the ground up.</h3>
                    </div>
                </div>
            </div>
            <!--<div class="hero__container-article">
                <div class="hero__container-article-img">
                    <img src="./design/img/com.svg" alt="com">
                </div>
                <div class="hero__container-article__content">
                    <h4 class="hero__container-article__content-title">About us</h4>
                    <p class="hero__container-article__content-desc">
                        At P2P Cloud, we're more than just a cloud service provider. We're innovators and enablers dedicated 
                        to empowering businesses and Web3 projects with robust, scalable, and cost-effective cloud solutions. 
                        Our suite of services, including AI model training, VMs, storage, and RPC nodes, is designed to streamline your 
                        operations, ensuring you stay ahead in the fast-paced digital world.
                    </p>
                </div>
                <div class="hero__container-article__img">
                    <img src="./design/img/bg-grid.png" alt="grid">
                </div>
            </div>-->
        </div>
    </section>
    <section class="values">
        <div class="container values__container" id="products">
            <h2 class="values__container-title">Our <span class="text-gradient"> Products</span></h2>
            <div class="values__container-cards">
                <div class="values__container-cards__card">
                    <div class="values__container-cards__img">
                        <img src="./design/img/money-card.svg" alt="money">
                    </div>
                    <div class="values__container-cards__body">
                        <p>Vm's and Compute</p>
                        <p>Access high-performance virtual machines tailored to meet the 
                            demands of your applications with zero contracts or hidden fees.</p>
                            <div class="changing__container-content__btn">
                                <button class="btn-gradient"> 
                                    <a href="https://humilis.my.canva.site/vm" target="_blank">
                                        Book a VM Today
                                    </a>
                                </button>
                            </div>
                    </div>
                </div>
                <div class="values__container-cards__card">
                    <div class="values__container-cards__img">
                        <img src="./design/img/lock-card.svg" alt="lock">
                    </div>
                    <div class="values__container-cards__body">
                        <p>Storage</p>
                        <p> Designed for efficiency and reliability, our storage solutions ensure 
                            that your data is always available when needed for only a fraction of the cost.</p>
                    </div>
                    <div class="changing__container-content__btn">
                        <button class="btn-gradient"> 
                            Coming Soon
                        </button>
                    </div>
                </div>
                <div class="values__container-cards__card">
                    <div class="values__container-cards__img">
                        <img src="./design/img/decentralized-card.svg" alt="decentralized">
                    </div>
                    <div class="values__container-cards__body">
                        <p>RPC Router</p>
                        <p>Connect to any blockchain networks with ease using our RPC router. 
                            Choose between low latency connection or secure APIs.</p>
                    </div>
                    <div class="changing__container-content__btn">
                        <button class="btn-gradient"> 
                            <a href="https://humilis.my.canva.site/rpc-router" target="_blank">
                                Try for Free
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="changing">
        <div class="container changing__container">
            <div class="changing__container-border">
                <div class="changing__container-content">
                    <h3 class="changing__container-content__title">Join Our <span class="text-gradient"> Community</span> Today</h3>
                    <div class="changing__container-content__btn">
                            <div class="changing__container-content__btn-ghost-wrap">
                                <button class="changing__container-content__btn-ghost-btn">
                                    <a href="https://t.me/p2pcloud" target="_blank">
                                        Join us on Telegram
                                    </a>
                                    <svg width="22" height="18" viewBox="0 0 22 18" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M18.0284 17.5858L21.6075 0.77974C21.6838 0.403928 21.3146 0.09499 20.9614 0.233918L1.20419 7.7657C0.803653 7.92017 0.799415 8.53757 1.18629 8.71417L6.24633 10.7924L8.13199 16.7338C8.24407 17.056 8.64437 17.1586 8.90151 16.9415L11.7964 14.2463L17.2993 17.899C17.5876 18.0779 17.9615 17.915 18.0284 17.5858ZM9.06212 11.915L8.74235 14.9686L7.21226 10.2686L17.9855 3.19318L9.06212 11.915Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<style>

.btn-gradient:after {
    display: none;
}

.btn-gradient-two:before {
    display: none;
}

.changing__container-content__btn-ghost::after {
    display: none;
}

</style>
{{ end }}