$black-dark: #000000;
$black: #101214;
$black-light: #181A1C;
$black-bg: rgba(22, 24, 26, 0.5);
$white: #ffffff;
$white-light: #f6f7f8;
$gradient: linear-gradient(289.39deg, #EE82EE 0%, #28A1E6 100.04%);
$gradient-reverse: linear-gradient(-220deg, #EE82EE 0%, #28A1E6 100.04%);
$gray-dark: rgba(255, 255, 255, 0.08);
$gray-dark2: rgba(255, 255, 255, 0.7);
$gray-light: rgba(255, 255, 255, 0.15);
$gray: #525252;
$violet: #AC53E8;
$blue: #55ACE3;
$blue-light: #69C9FF;
$blue-dark: #5C86A7;
$red: #FF001D;
$red-light: #FD3A4E;
$yellow: #D6C54D;

$bold: 700;
$semi-bold: 600;
$regular: 400;

$sizeH1: 74px;
$sizeH2: 60px;
$sizeH3: 42px;
$sizeH4: 32px;
$size24: 24px;

$size18: 18px